pandas
numpy

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain_google_genai

langchain-chroma
chromadb
sentence-transformers
torch
python-dotenv
tqdm

streamlit

